<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SYSTEM ZAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Registro <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alumno", "Index", "Alumno")</li>
                            <li>@Html.ActionLink("Apoderado", "Index", "Apoderado")</li>
                            <li>@Html.ActionLink("Docente", "Index", "Docente")</li>
                            
                            <li>@Html.ActionLink("Documentos", "Index", "Documentos")</li>
                            <li>@Html.ActionLink("Especialidad", "Index", "Especialidad")</li>
                            <li>@Html.ActionLink("Curso", "Index", "Curso")</li>
                        </ul>

                 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Aulas <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nivel", "Index", "Nivel")</li>
                            <li>@Html.ActionLink("Grado", "Index", "Grado")</li>
                            <li>@Html.ActionLink("Seccion", "Index", "Seccion")</li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Ubigeo <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pais", "Index", "Pais")</li>
                            <li>@Html.ActionLink("Ubigeo", "Index", "Ubigeo")</li>
                        </ul>

                    </li>

                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                   
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
