@model IEnumerable<Domain.Matricula>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    @*@Html.DropDownList("nivel", (SelectList)@ViewBag.nivel, "Nivel", new { @class = "form-control" })*@
                    @Html.DropDownList("grado", (SelectList)@ViewBag.grado, null, new { @class = "form-control" })
                    @Html.DropDownList("seccion", (SelectList)@ViewBag.seccion, null, new { @class = "form-control", placeholder = "Grado" })
                    @Html.DropDownList("anioEscolar", (SelectList)@ViewBag.anios, "Año", new { @class = "form-control" })
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        @*<label for="ex3">col-xs-4</label>
                            <input class="form-control" id="ex3" type="text">*@
                        @Html.TextBox("criterioAlumno", "", new { @class = "w3-input w3-border", placeholder = "Alumno" })
                    </div>
                    <button id="btnBuscaMatricula" class="btn btn-primary"><span><i class="fa fa-search"></i></span></button>
                    @Html.ActionLink("Registar Matricula", "Create", new { }, new { @class = "btn btn-primary", id = "btnAgregarMatricula" })
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<div id="mensaje">
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success" style="text-align: center" id="success-alert" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@TempData["mensaje"]</strong>
        </div>
    }
</div>
<div class="table-responsive">
    <div id="search_Matricula">
        @Html.Partial("listarmatricula", Model)
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/zas/Matricula/Matricula.js"></script>
    <script>

    </script>
}
